## Web Scraping using Beautiful Soup

In [2]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

## 1) Write a python program to display all the header tags from wikipedia.org

In [ ]:

def geturlfromuser(userinput):
    

    page = requests.get(userinput)
    page

    bsoup = BeautifulSoup(page.content, 'html.parser')

    headertags = bsoup.find_all(['h1', 'h2','h3','h4','h5','h6'])
    print('List of all the header tags :', *headertags, sep='\n\n')
    
    
userinput = input("Enter the website here")
geturlfromuser(userinput)

    
## 2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [3]:
#https://www.imdb.com/chart/top
data = pd.DataFrame()

def geturlfromuser(userinput):
    

    page = requests.get(userinput)
    bsoup = BeautifulSoup(page.content, 'html.parser')
    #secondaryInfo
    movies_imdb = bsoup.find_all('td',class_ = 'titleColumn')
    scraped_ratings = bsoup.find_all('td', class_='ratingColumn imdbRating')
    movie_year = bsoup.find_all('span',class_ = 'secondaryInfo')

    #print(movie_year)
    
    movies = []
    ratings = []
    years = []

    for movie in movies_imdb:
        movies.append(movie.find('a').text)        
    #print(movies)
    data['Movie Names'] = movies
    
    for year in movie_year:  
        year = year.get_text().replace('\n', "")
        year = year.strip(" ")
        years.append(year)        
    #print(years)
    data['Year'] = years
    
    
    for rating in scraped_ratings:
        rating = rating.get_text().replace('\n', '')
        ratings.append(rating)
    #print(ratings)
    data['Ratings'] = ratings
        


    
userinput = input("Enter the website here")
geturlfromuser(userinput) 
data.head(100)

Enter the website herehttps://www.imdb.com/chart/top

                              Movie Names    Year Ratings
0                The Shawshank Redemption  (1994)     9.2
1                           The Godfather  (1972)     9.1
2                  The Godfather: Part II  (1974)     9.0
3                         The Dark Knight  (2008)     9.0
4                            12 Angry Men  (1957)     8.9
..                                    ...     ...     ...
95                                 Jagten  (2012)     8.3
96                    Requiem for a Dream  (2000)     8.3
97                    Singin' in the Rain  (1952)     8.3
98                     North by Northwest  (1959)     8.3
99  Eternal Sunshine of the Spotless Mind  (2004)     8.3

[100 rows x 3 columns]

## 3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame

In [4]:
#https://www.imdb.com/india/top-rated-indian-movies/
data = pd.DataFrame()

def geturlfromuser(userinput):
    

    page = requests.get(userinput)
    bsoup = BeautifulSoup(page.content, 'html.parser')
    #secondaryInfo
    movies_imdb = bsoup.find_all('td',class_ = 'titleColumn')
    scraped_ratings = bsoup.find_all('td', class_='ratingColumn imdbRating')
    movie_year = bsoup.find_all('span',class_ = 'secondaryInfo')

    #print(movie_year)
    
    movies = []
    ratings = []
    years = []

    for movie in movies_imdb:
        movies.append(movie.find('a').text)        
    #print(movies)
    data['Movie Names'] = movies
    
    for year in movie_year:  
        year = year.get_text().replace('\n', "")
        year = year.strip(" ")
        years.append(year)        
    #print(years)
    data['Year'] = years
    
    
    for rating in scraped_ratings:
        rating = rating.get_text().replace('\n', '')
        ratings.append(rating)
    #print(ratings)
    data['Ratings'] = ratings
        


    
userinput = input("Enter the website here")
geturlfromuser(userinput) 
data.head(100)

Enter the website herehttps://www.imdb.com/india/top-rated-indian-movies/

            Movie Names    Year Ratings
0              Jai Bhim  (2021)     8.6
1               Nayakan  (1987)     8.5
2     Pariyerum Perumal  (2018)     8.5
3            Anbe Sivam  (2003)     8.5
4     C/o Kancharapalem  (2018)     8.5
..                  ...     ...     ...
95  Munna Bhai M.B.B.S.  (2003)     8.1
96            Sarfarosh  (1999)     8.1
97                 Roja  (1992)     8.1
98                Queen  (2013)     8.1
99       Dil Chahta Hai  (2001)     8.1

[100 rows x 3 columns]

## 4) Write a python program to scrape product name, price and discounts from https://meesho.com/bagsladies/pl/p7vbp .

In [5]:
data = pd.DataFrame()

def geturlfromuser(userinput):
    

    page = requests.get(userinput)
    bsoup = BeautifulSoup(page.content, 'html.parser')

    meesho_productnames = bsoup.find_all('p',class_ = 'Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS')
    meesho_productprices = bsoup.find_all('h5')
    meesho_productdiscount = bsoup.find_all('p',class_ = 'Text__StyledText-sc-oo0kvp-0 fCJVtz NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm')

    #print(meesho_productprices)
    products = []
    prices = []
    discounts = []
    
    for product in meesho_productnames:
        product = product.get_text().replace('\n', "")
        product = product.strip(" ")
        products.append(product)
    #print(products)
    data['Products Name'] = products


    for price in meesho_productprices:
        prices.append(price.text)  
    #print(prices)
    data['Products Price'] = prices
    
    
    for discount in meesho_productdiscount:
        discount = discount.get_text().replace('\n', "")
        discount = discount.strip(" ")
        discounts.append(discount)
    #print(discounts)
    data['Products Discount'] = discounts
  
  
userinput = input("Enter the website here")
geturlfromuser(userinput) 
data.head(100)

Enter the website herehttps://meesho.com/bagsladies/pl/p7vbp

,Products Name,Products Price,Products Discount
0,Handbags,₹474,₹100 discount on 1st order
1,Treandy Handbags,₹384,₹100 discount on 1st order
2,Women's Stylish Handbags\t\t,₹380,₹100 discount on 1st order
3,Lionkart.com Backpack sling for Women (Bp-Lock),₹384,₹100 discount on 1st order
4,Global Women's Satchel Handbag women stylish p...,₹245,₹100 discount on 1st order
5,GMC-Blue Ribn Handbag,₹525,₹100 discount on 1st order
6,Gorgeous Fashionable Women HANDBAG,₹394,₹100 discount on 1st order
7,Graceful Alluring Women Handbags,₹284,₹100 discount on 1st order
8,GMC-Pink & Onion Handbag,₹484,₹100 discount on 1st order
9,Graceful Alluring Women Handbags,₹255,₹100 discount on 1st order
10,Graceful Alluring Women Handbags,₹415,₹100 discount on 1st order
11,Lionkart.com Women's stylish Handbags,₹374,₹100 discount on 1st order
12,Leather Hand Beg,₹199,₹85 discount on 1st order
13,Extra Large Women’s Tote Bag,₹455,₹100 discount on 1st order
14,Leather Hand Purse,₹199,₹85 discount on 1st order
15,Ladies Apple Cut Bamboo Purse,₹399,₹100 discount on 1st order
16,Morwee.com Elegant Handbag for women,₹383,₹100 discount on 1st order
17,Handbags,₹384,₹100 discount on 1st order
18,Sling bags,₹105,₹44 discount on 1st order
19,Morwee.com Extra Large Women’s Tote Bag,₹450,₹100 discount on 1st order

## 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
## a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
## b) Top 10 ODI Batsmen along with the records of their team and rating.
## c) Top 10 ODI bowlers along with the records of their team and rating.
## 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrap

In [6]:
#https://www.icc-cricket.com/rankings/mens/team-rankings/odi
data = pd.DataFrame()

def geturlfromuser(userinput):
    

    page = requests.get(userinput)

    bsoup = BeautifulSoup(page.content, 'html.parser')
    top_oditeams = bsoup.find_all('span',class_ = 'u-hide-phablet')
    top_oditeams_matches= bsoup.find_all('td',class_ = 'table-body__cell u-center-text')
    top_oditeams_ratings = bsoup.find_all('td',class_ = ['table-body__cell u-text-right rating','rankings-block__banner--rating u-text-right'])
    #top_oditeams_points = bsoup.find_all('td',class_ = 'table-body__cell u-center-text')
    teams = []
    matches=[]
    ratings = []
    for team in top_oditeams:
        if len(team.get_text(strip=True)) != 0:
            team.extract()  
            team = team.get_text().replace('\n', "")
            teams.append(team)
    #print(teams)  
    data['Team Name'] = teams[:10]
    
    for match in top_oditeams_matches:
        match = match.get_text().replace('\n', "")
        #match = match.strip(" ")
        matches.append(match)
    print(matches)    
    #data['Team Matches and Points'] = matches
    
    for rating in top_oditeams_ratings:
        rating = rating.get_text().replace('\n', "")
        ratings.append(rating)
    #print(ratings)
    data['Team Ratings'] = ratings[:10]

odi_teams = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
geturlfromuser(odi_teams) 
data.head(100)

['32', '3,793', '28', '3,244', '32', '3,624', '25', '2,459', '27', '2,524', '30', '2,740', '30', '2,523', '32', '2,657', '17', '1,054', '7', '336', '25', '1,145', '10', '452', '20', '764', '14', '524', '11', '330', '9', '190', '14', '232', '6', '97', '13', '0']

      Team Name                                       Team Ratings
0   New Zealand                              121               ...
1       England                                                119
2     Australia                                                116
3         India                                                113
4  South Africa                                                 98
5      Pakistan                                                 93
6    Bangladesh                                                 91
7   West Indies                                                 84
8     Sri Lanka                                                 83
9   Afghanistan                                                 62

## 7) Write a python program to scrape details of all the posts from coreyms.com. Scrape the heading, date, content
## and the code for the video from the link for the youtube video from the post.

In [19]:
#https://www.icc-cricket.com/rankings/mens/team-rankings/odi
data = pd.DataFrame()

def geturlfromuser(userinput):
    

    page = requests.get(userinput)

    bsoup = BeautifulSoup(page.content, 'html.parser')
    scrapped_headings = bsoup.find_all('h2',class_ = 'entry-title')
    scrapped_headings_date = bsoup.find_all('time',class_ = 'entry-time')
    scrapped_videolink = bsoup.find_all('iframe',class_ = 'youtube-player')



    headings=[]
    dates = []
    videos =[]
    
    for heading in scrapped_headings:
        headings.append(heading.find('a').text)        
    #print(headings)
    data['Headings'] = headings
    
    

    for date in scrapped_headings_date:
        date = date.get_text().replace('\n', "")
        dates.append(date)
    #print(dates)
    data['Date'] = dates
    
    
    for video in scrapped_videolink:
        video = video.get('src')
        videos.append(video)
    print(*videos,sep='\n')
    #data['Video URL'] = videos
    



url = 'https://coreyms.com/'
geturlfromuser(url) 
data.head(100)
#soup.find("iframe").get("src")

https://www.youtube.com/embed/z0gguhEmWiY?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent
https://www.youtube.com/embed/_P7X8tMplsw?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent
https://www.youtube.com/embed/fKl2JW_qrso?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent
https://www.youtube.com/embed/IEEhzQoKtQU?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent
https://www.youtube.com/embed/mO_dS3rXDIs?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent
https://www.youtube.com/embed/2Fp1N6dof0Y?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent
https://www.youtube.com/embed/-nh9rCzPJ20?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent
https://www.youtube.com/embed/06I63_p-2A4?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent
https://www.youtube.com/embed/_JGmemuINww?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent

                                            Headings                Date
0  Python Tutorial: Zip Files – Creating and Extr...   November 19, 2019
1  Python Data Science Tutorial: Analyzing the 20...    October 17, 2019
2  Python Multiprocessing Tutorial: Run Code in P...  September 21, 2019
3  Python Threading Tutorial: Run Code Concurrent...  September 12, 2019
4                                Update (2019-09-03)   September 3, 2019
5  Python Quick Tip: The Difference Between “==” ...      August 6, 2019
6  Python Tutorial: Calling External Commands Usi...       July 24, 2019
7  Visual Studio Code (Windows) – Setting up a Py...         May 1, 2019
8  Visual Studio Code (Mac) – Setting up a Python...         May 1, 2019
9  Clarifying the Issues with Mutable Default Arg...      April 24, 2019