## Web Scraping using Beautiful Soup

In [2]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

## 1) Write a python program to display all the header tags from wikipedia.org

In [32]:

def geturlfromuser(userinput):
    

    page = requests.get(userinput)
    page

    bsoup = BeautifulSoup(page.content, 'html.parser')

    headertags = bsoup.find_all(['h1', 'h2','h3','h4','h5','h6'])
    
    for htags in headertags:
        print(htags.text)
    #print('List of all the header tags :', *headertags, sep='\n\n')
    
    
userinput= "https://en.wikipedia.org/wiki/Main_Page"
geturlfromuser(userinput)

Main Page
From today's featured article
Did you know ...
In the news
On this day
From today's featured list
Today's featured picture
Other areas of Wikipedia
Wikipedia's sister projects
Wikipedia languages
Navigation menu

Personal tools


Namespaces


Variants
expanded
collapsed


Views


More
expanded
collapsed


Search


Navigation


Contribute


Tools


Print/export


In other projects


Languages

    
## 2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [27]:
#https://www.imdb.com/chart/top
data = pd.DataFrame()

def geturlfromuser(userinput):
    

    page = requests.get(userinput)
    bsoup = BeautifulSoup(page.content, 'html.parser')
    #secondaryInfo
    movies_imdb = bsoup.find_all('td',class_ = 'titleColumn')
    scraped_ratings = bsoup.find_all('td', class_='ratingColumn imdbRating')
    movie_year = bsoup.find_all('span',class_ = 'secondaryInfo')

    #print(movie_year)
    
    movies = []
    ratings = []
    years = []

    for movie in movies_imdb:
        movies.append(movie.find('a').text)        
    #print(movies)
    data['Movie Names'] = movies
    
    for year in movie_year:  
        year = year.get_text().replace('\n', "")
        year = year.strip(" ")
        years.append(year)        
    #print(years)
    data['Year'] = years
    
    
    for rating in scraped_ratings:
        rating = rating.get_text().replace('\n', '')
        ratings.append(rating)
    #print(ratings)
    data['Ratings'] = ratings
        


    
userinput = "https://www.imdb.com/chart/top"
geturlfromuser(userinput) 
data.head(100)

                              Movie Names    Year Ratings
0                The Shawshank Redemption  (1994)     9.2
1                           The Godfather  (1972)     9.1
2                  The Godfather: Part II  (1974)     9.0
3                         The Dark Knight  (2008)     9.0
4                            12 Angry Men  (1957)     8.9
..                                    ...     ...     ...
95                                 Jagten  (2012)     8.3
96                    Requiem for a Dream  (2000)     8.3
97                    Singin' in the Rain  (1952)     8.3
98                     North by Northwest  (1959)     8.3
99  Eternal Sunshine of the Spotless Mind  (2004)     8.3

[100 rows x 3 columns]

## 3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame

In [28]:
#https://www.imdb.com/india/top-rated-indian-movies/
data = pd.DataFrame()

def geturlfromuser(userinput):
    

    page = requests.get(userinput)
    bsoup = BeautifulSoup(page.content, 'html.parser')
    #secondaryInfo
    movies_imdb = bsoup.find_all('td',class_ = 'titleColumn')
    scraped_ratings = bsoup.find_all('td', class_='ratingColumn imdbRating')
    movie_year = bsoup.find_all('span',class_ = 'secondaryInfo')

    #print(movie_year)
    
    movies = []
    ratings = []
    years = []

    for movie in movies_imdb:
        movies.append(movie.find('a').text)        
    #print(movies)
    data['Movie Names'] = movies
    
    for year in movie_year:  
        year = year.get_text().replace('\n', "")
        year = year.strip(" ")
        years.append(year)        
    #print(years)
    data['Year'] = years
    
    
    for rating in scraped_ratings:
        rating = rating.get_text().replace('\n', '')
        ratings.append(rating)
    #print(ratings)
    data['Ratings'] = ratings
        


    
userinput = "https://www.imdb.com/india/top-rated-indian-movies/"
geturlfromuser(userinput) 
data.head(100)

            Movie Names    Year Ratings
0              Jai Bhim  (2021)     8.5
1               Nayakan  (1987)     8.5
2     Pariyerum Perumal  (2018)     8.5
3            Anbe Sivam  (2003)     8.5
4     C/o Kancharapalem  (2018)     8.5
..                  ...     ...     ...
95  Munna Bhai M.B.B.S.  (2003)     8.1
96            Sarfarosh  (1999)     8.1
97                 Roja  (1992)     8.1
98                Queen  (2013)     8.1
99       Dil Chahta Hai  (2001)     8.1

[100 rows x 3 columns]

## 4) Write a python program to scrape product name, price and discounts from https://meesho.com/bagsladies/pl/p7vbp .

In [5]:
data = pd.DataFrame()

def geturlfromuser(userinput):
    

    page = requests.get(userinput)
    bsoup = BeautifulSoup(page.content, 'html.parser')

    meesho_productnames = bsoup.find_all('p',class_ = 'Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS')
    meesho_productprices = bsoup.find_all('h5')
    meesho_productdiscount = bsoup.find_all('p',class_ = 'Text__StyledText-sc-oo0kvp-0 fCJVtz NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm')

    #print(meesho_productprices)
    products = []
    prices = []
    discounts = []
    
    for product in meesho_productnames:
        product = product.get_text().replace('\n', "")
        product = product.strip(" ")
        products.append(product)
    #print(products)
    data['Products Name'] = products


    for price in meesho_productprices:
        prices.append(price.text)  
    #print(prices)
    data['Products Price'] = prices
    
    
    for discount in meesho_productdiscount:
        discount = discount.get_text().replace('\n', "")
        discount = discount.strip(" ")
        discounts.append(discount)
    #print(discounts)
    data['Products Discount'] = discounts
  
  
userinput = input("Enter the website here")
geturlfromuser(userinput) 
data.head(100)

Enter the website herehttps://meesho.com/bagsladies/pl/p7vbp

,Products Name,Products Price,Products Discount
0,Handbags,₹474,₹100 discount on 1st order
1,Treandy Handbags,₹384,₹100 discount on 1st order
2,Women's Stylish Handbags\t\t,₹380,₹100 discount on 1st order
3,Lionkart.com Backpack sling for Women (Bp-Lock),₹384,₹100 discount on 1st order
4,Global Women's Satchel Handbag women stylish p...,₹245,₹100 discount on 1st order
5,GMC-Blue Ribn Handbag,₹525,₹100 discount on 1st order
6,Gorgeous Fashionable Women HANDBAG,₹394,₹100 discount on 1st order
7,Graceful Alluring Women Handbags,₹284,₹100 discount on 1st order
8,GMC-Pink & Onion Handbag,₹484,₹100 discount on 1st order
9,Graceful Alluring Women Handbags,₹255,₹100 discount on 1st order
10,Graceful Alluring Women Handbags,₹415,₹100 discount on 1st order
11,Lionkart.com Women's stylish Handbags,₹374,₹100 discount on 1st order
12,Leather Hand Beg,₹199,₹85 discount on 1st order
13,Extra Large Women’s Tote Bag,₹455,₹100 discount on 1st order
14,Leather Hand Purse,₹199,₹85 discount on 1st order
15,Ladies Apple Cut Bamboo Purse,₹399,₹100 discount on 1st order
16,Morwee.com Elegant Handbag for women,₹383,₹100 discount on 1st order
17,Handbags,₹384,₹100 discount on 1st order
18,Sling bags,₹105,₹44 discount on 1st order
19,Morwee.com Extra Large Women’s Tote Bag,₹450,₹100 discount on 1st order

## 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
## a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
## b) Top 10 ODI Batsmen along with the records of their team and rating.
## c) Top 10 ODI bowlers along with the records of their team and rating.

In [29]:
#https://www.icc-cricket.com/rankings/mens/team-rankings/odi
data = pd.DataFrame()

def geturlfromuser(userinput):
    

    page = requests.get(userinput)

    bsoup = BeautifulSoup(page.content, 'html.parser')
    top_oditeams = bsoup.find_all('span',class_ = 'u-hide-phablet')
    top_oditeams_matches= bsoup.find_all('td',class_ = ['rankings-block__banner--matches','table-body__cell u-center-text'])
    top_oditeams_ratings = bsoup.find_all('td',class_ = ['table-body__cell u-text-right rating','rankings-block__banner--rating u-text-right'])
    #top_oditeams_points = bsoup.find_all('td',class_ = 'table-body__cell u-center-text')
    teams = []
    matches=[]
    ratings = []
    for team in top_oditeams:
        if len(team.get_text(strip=True)) != 0:
            team.extract()  
            team = team.get_text().replace('\n', "")
            teams.append(team)
    #print(teams)  
    data['Team Name'] = teams[:10]
    
    for match in top_oditeams_matches:
        match = match.get_text().replace('\n', "")
        #match = match.strip(" ")
        matches.append(match)
    print(matches)    #SAME CLASS NAME UNDER SAME TAG HOW TO GET DAUBT!!! 
    #data['Team Matches and Points'] = matches
    
    for rating in top_oditeams_ratings:
        rating = rating.get_text().replace('\n', "")
        ratings.append(rating)
    #print(ratings)
    data['Team Ratings'] = ratings[:10]

odi_teams = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
geturlfromuser(odi_teams) 
data.head(100)

['17', '19', '2,307', '18', '2,148', '17', '1,899', '5', '475', '19', '1,668', '19', '1,658', '18', '1,226', '5', '240', '5', '233', '7', '0']

      Team Name                                       Team Ratings
0     Australia                              162               ...
1  South Africa                                                121
2       England                                                119
3         India                                                112
4    Bangladesh                                                 95
5   New Zealand                                                 88
6   West Indies                                                 87
7      Pakistan                                                 68
8       Ireland                                                 48
9     Sri Lanka                                                 47

In [28]:
# 5(b) 5(c)

#https://www.icc-cricket.com/rankings/mens/player-rankings/odi
data = pd.DataFrame()
data2 = pd.DataFrame()


def geturlfromuser(userinput):
    

    page = requests.get(userinput)

    bsoup = BeautifulSoup(page.content, 'html.parser')
    top_odi_batsman = bsoup.find_all(['tr','div'],class_ = ['table-body','table-body__cell name','rankings-block__banner--name'])
    top_odi_batsman_Team = bsoup.find_all(['div','span'],class_ = ['table-body__logo-text','rankings-block__banner--nationality'])
    top_odi_batsman_Rating = bsoup.find_all(['td','div'],class_ = ['table-body__cell u-text-right rating','rankings-block__banner--rating'])

    names = []
    Teams=[]
    ratings = []
                                     
    for player in top_odi_batsman:
        player = player.get_text().replace('\n', "")
        player = player.strip(" ")
        names.append(player)
    #print(names)  
    data['Player Name - Batting'] = names[:10]
    data2['Player Name -Bowling'] = names[10:20]

    
    for team in top_odi_batsman_Team:
        team = team.get_text().replace('\n', "")
        team = team.strip(" ")
        Teams.append(team)
    #print(Teams)  
    data['Player Team'] = Teams[:10]
    data2['Player Team'] = Teams[10:20]

    
    for rating in top_odi_batsman_Rating:
        rating = rating.get_text().replace('\n', "")
        rating = rating.strip(" ")
        ratings.append(rating)
    #print(ratings)  
    data['Player Ratings'] = ratings[:10]
    data2['Player Ratings'] = ratings[10:20]
    


odi_teams = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi'
geturlfromuser(odi_teams) 
#data.head(100)
display(data,data2)
#data2.head(100)

,Player Name - Batting,Player Team,Player Ratings
0,Babar Azam,PAK873,873
1,2 (0)Virat Kohl...,IND,844
2,3 (0)Rohit Shar...,IND,813
3,4 (0)Ross Taylo...,NZ,801
4,5 (0)Aaron Finc...,AUS,779
5,6 (0)Jonny Bair...,ENG,775
6,7 (0)David Warn...,AUS,762
7,8 (0)Shai HopeW...,WI,758
8,9 (0)Kane Willi...,NZ,754
9,10 (0)Quinton d...,SA,743

,Player Name -Bowling,Player Team,Player Ratings
0,Trent Boult,NZ737,737
1,2 (0)Josh Hazle...,AUS,709
2,3 (0)Mujeeb Ur ...,AFG,708
3,4 (0)Chris Woak...,ENG,700
4,5 (0)Mehedi Has...,BAN,692
5,6 (0)Matt Henry...,NZ,691
6,7 (0)Jasprit Bu...,IND,679
7,8 (0)Mitchell S...,AUS,652
8,9 (0)Shakib Al ...,BAN,650
9,10 (0)Kagiso Ra...,SA,643

## 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrap

In [31]:
#https://www.icc-cricket.com/rankings/mens/team-rankings/odi
data = pd.DataFrame()

def geturlfromuser(userinput):
    

    page = requests.get(userinput)

    bsoup = BeautifulSoup(page.content, 'html.parser')
    top_oditeams = bsoup.find_all('span',class_ = 'u-hide-phablet')
    top_oditeams_matches= bsoup.find_all('td',class_ = ['rankings-block__banner--matches','table-body__cell u-center-text'])
    top_oditeams_ratings = bsoup.find_all('td',class_ = ['table-body__cell u-text-right rating','rankings-block__banner--rating u-text-right'])
    #top_oditeams_points = bsoup.find_all('td',class_ = 'table-body__cell u-center-text')
    teams = []
    matches=[]
    ratings = []
    for team in top_oditeams:
        if len(team.get_text(strip=True)) != 0:
            team.extract()  
            team = team.get_text().replace('\n', "")
            teams.append(team)
    #print(teams)  
    data['Team Name -Women'] = teams[:10]
    
    for match in top_oditeams_matches:
        match = match.get_text().replace('\n', "")
        #match = match.strip(" ")
        matches.append(match)
    print(matches)    #SAME CLASS NAME UNDER SAME TAG HOW TO GET DAUBT!!! 
    #data['Team Matches and Points'] = matches
    
    for rating in top_oditeams_ratings:
        rating = rating.get_text().replace('\n', "")
        ratings.append(rating)
    #print(ratings)
    data['Team Ratings - Women'] = ratings[:10]

odi_teams = 'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
geturlfromuser(odi_teams) 
data.head(100)

['17', '19', '2,307', '18', '2,148', '17', '1,899', '5', '475', '19', '1,668', '19', '1,658', '18', '1,226', '5', '240', '5', '233', '7', '0']

  Team Name -Women                               Team Ratings - Women
0        Australia                              162               ...
1     South Africa                                                121
2          England                                                119
3            India                                                112
4       Bangladesh                                                 95
5      New Zealand                                                 88
6      West Indies                                                 87
7         Pakistan                                                 68
8          Ireland                                                 48
9        Sri Lanka                                                 47

In [33]:
# 6(b) 6(c)

#https://www.icc-cricket.com/rankings/mens/player-rankings/odi
data = pd.DataFrame()
data2 = pd.DataFrame()


def geturlfromuser(userinput):
    

    page = requests.get(userinput)

    bsoup = BeautifulSoup(page.content, 'html.parser')
    top_odi_batsman = bsoup.find_all(['tr','div'],class_ = ['table-body','table-body__cell name','rankings-block__banner--name'])
    top_odi_batsman_Team = bsoup.find_all(['div','span'],class_ = ['table-body__logo-text','rankings-block__banner--nationality'])
    top_odi_batsman_Rating = bsoup.find_all(['td','div'],class_ = ['table-body__cell u-text-right rating','rankings-block__banner--rating'])

    names = []
    Teams=[]
    ratings = []
                                     
    for player in top_odi_batsman:
        player = player.get_text().replace('\n', "")
        player = player.strip(" ")
        names.append(player)
    #print(names)  
    data['Women Player Name - Batting'] = names[:10]
    data2['Women Player Name -Bowling'] = names[10:20]

    
    for team in top_odi_batsman_Team:
        team = team.get_text().replace('\n', "")
        team = team.strip(" ")
        Teams.append(team)
    #print(Teams)  
    data['Women Player Team'] = Teams[:10]
    data2['Women Player Team'] = Teams[10:20]

    
    for rating in top_odi_batsman_Rating:
        rating = rating.get_text().replace('\n', "")
        rating = rating.strip(" ")
        ratings.append(rating)
    #print(ratings)  
    data['Women Player Ratings'] = ratings[:10]
    data2['Women Player Ratings'] = ratings[10:20]
    


odi_teams = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi'
geturlfromuser(odi_teams) 
#data.head(100)
display(data,data2)
#data2.head(100)

,Women Player Name - Batting,Women Player Team,Women Player Ratings
0,Lizelle Lee,SA761,761
1,2 (0)Alyssa Hea...,AUS,750
2,3 (0)Mithali Ra...,IND,738
3,4 (0)Tammy Beau...,ENG,728
4,5 (0)Amy Satter...,NZ,717
5,6 (0)Smriti Man...,IND,710
6,7 (0)Meg Lannin...,AUS,699
7,8 (0)Beth Moone...,AUS,690
8,9 (0)Stafanie T...,WI,676
9,10 (0)Heather K...,ENG,674

,Women Player Name -Bowling,Women Player Team,Women Player Ratings
0,Jess Jonassen,AUS760,760
1,2 (0)Jhulan Gos...,IND,727
2,3 (0)Megan Schu...,AUS,717
3,4 (0)Marizanne ...,SA,715
4,5 (0)Sophie Ecc...,ENG,701
5,6 (0)Shabnim Is...,SA,688
6,7 (0)Katherine ...,ENG,666
7,8 (0)Ayabonga K...,SA,643
8,9 (0)Anya Shrub...,ENG,598
9,10 (0)Kate Cros...,ENG,589

## 7) Write a python program to scrape details of all the posts from coreyms.com. Scrape the heading, date, content
## and the code for the video from the link for the youtube video from the post.

In [96]:
#https://www.icc-cricket.com/rankings/mens/team-rankings/odi
data = pd.DataFrame()

def geturlfromuser(userinput):
    

    page = requests.get(userinput)

    bsoup = BeautifulSoup(page.content, 'html.parser')
    scrapped_headings = bsoup.find_all('h2',class_ = 'entry-title')
    scrapped_headings_date = bsoup.find_all('time',class_ = 'entry-time')
    scrapped_videolink = bsoup.find_all('iframe',class_ = 'youtube-player')



    headings=[]
    dates = []
    videos =[]
    
    for heading in scrapped_headings:
        headings.append(heading.find('a').text)        
    #print(headings)
    data['Headings'] = headings
    
    

    for date in scrapped_headings_date:
        date = date.get_text().replace('\n', "")
        dates.append(date)
    #print(dates)
    data['Date'] = dates
    
    
    for video in scrapped_videolink:
        video = video.get('src')
        videos.append(video)
    print(*videos,sep='\n')
    #data['Video URL'] = videos
    



url = 'https://coreyms.com/'
geturlfromuser(url) 
data.head(100)
#soup.find("iframe").get("src")

https://www.youtube.com/embed/z0gguhEmWiY?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent
https://www.youtube.com/embed/_P7X8tMplsw?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent
https://www.youtube.com/embed/fKl2JW_qrso?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent
https://www.youtube.com/embed/IEEhzQoKtQU?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent
https://www.youtube.com/embed/mO_dS3rXDIs?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent
https://www.youtube.com/embed/2Fp1N6dof0Y?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent
https://www.youtube.com/embed/-nh9rCzPJ20?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent
https://www.youtube.com/embed/06I63_p-2A4?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent
https://www.youtube.com/embed/_JGmemuINww?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent

                                            Headings                Date
0  Python Tutorial: Zip Files – Creating and Extr...   November 19, 2019
1  Python Data Science Tutorial: Analyzing the 20...    October 17, 2019
2  Python Multiprocessing Tutorial: Run Code in P...  September 21, 2019
3  Python Threading Tutorial: Run Code Concurrent...  September 12, 2019
4                                Update (2019-09-03)   September 3, 2019
5  Python Quick Tip: The Difference Between “==” ...      August 6, 2019
6  Python Tutorial: Calling External Commands Usi...       July 24, 2019
7  Visual Studio Code (Windows) – Setting up a Py...         May 1, 2019
8  Visual Studio Code (Mac) – Setting up a Python...         May 1, 2019
9  Clarifying the Issues with Mutable Default Arg...      April 24, 2019

## 8) Write a python program to scrape house details from mentioned URL. It should include house title, location,
a## rea, EMI and price from https://www.nobroker.in/ .Enter three localities which are Indira Nagar, Jayanagar, 
## Rajaji Nagar.

In [ ]:
#https://www.nobroker.in/property/sale/bangalore/multiple?searchParam=W3sibGF0IjoxMi45NzgzNjkyLCJsb24iOjc3LjY0MDgzNTYsInBsYWNlSWQiOiJDaElKa1FOM0dLUVdyanNSTmhCUUpyaEdEN1UiLCJwbGFjZU5hbWUiOiJJbmRpcmFuYWdhciJ9LHsibGF0IjoxMi45MzA3NzM1LCJsb24iOjc3LjU4MzgzMDIsInBsYWNlSWQiOiJDaElKMmRkbFo1Z1ZyanNSaDFCT0FhZi1vcnMiLCJwbGFjZU5hbWUiOiJKYXlhbmFnYXIifSx7ImxhdCI6MTIuOTk4MTczMiwibG9uIjo3Ny41NTMwNDQ1OTk5OTk5OSwicGxhY2VJZCI6IkNoSUp4Zlc0RFBNOXJqc1JLc05URy01cF9RUSIsInBsYWNlTmFtZSI6IlJhamFqaW5hZ2FyIn1d&radius=2.0&city=bangalore&locality=Indiranagar,&locality=Jayanagar,&locality=Rajajinagar

In [56]:
data = pd.DataFrame()
#h2
def geturlfromuser(userinput):
    

    page = requests.get(userinput)
    print(page)
    bsoup = BeautifulSoup(page.content, 'html.parser')
    scrapped_Title = bsoup.find_all('h2',class_ = 'heading-6 font-semi-bold nb__25Cl7')#font-semi-bold heading-6
    scrapped_prop_loc = bsoup.find_all('div',class_ = 'nb__1EwQz')
    scrapped_prop_price_emi= bsoup.find_all('div',id = 'roomType')
    scrapped_prop_price = bsoup.find_all('div',class_ = 'nb__4L90a',id = 'minDeposit')
    
    #print(scrapped_prop_price)
    
    Property_title = []
    Property_loc = []
    Property_price_emi = []
    Property_price = []


    
    for title in scrapped_Title:
        Property_title.append(title.find('span').text)   
    #print(Property_title)   
    data['House Title'] = Property_title
    
    for loc in scrapped_prop_loc:
        Property_loc.append(loc.text)   
    #print(Property_loc)   
    data['House Location'] = Property_loc
    
        
    for price in scrapped_prop_price_emi:
        #Property_price.append(loc.find('roomType')) 
        Property_price_emi.append( price.get_text())
        
    #print(Property_price_emi)   
    data['House EMI'] = Property_price_emi
    
        
    for price in scrapped_prop_price:
        #Property_price.append(loc.find('roomType')) 
        Property_price.append( price.find('span').text)
        
    #print(Property_price)   
    data['House Price'] = Property_price
    

        


    



url = 'https://www.nobroker.in/property/sale/bangalore/multiple?searchParam=W3sibGF0IjoxMi45NzgzNjkyLCJsb24iOjc3LjY0MDgzNTYsInBsYWNlSWQiOiJDaElKa1FOM0dLUVdyanNSTmhCUUpyaEdEN1UiLCJwbGFjZU5hbWUiOiJJbmRpcmFuYWdhciJ9LHsibGF0IjoxMi45MzA3NzM1LCJsb24iOjc3LjU4MzgzMDIsInBsYWNlSWQiOiJDaElKMmRkbFo1Z1ZyanNSaDFCT0FhZi1vcnMiLCJwbGFjZU5hbWUiOiJKYXlhbmFnYXIifSx7ImxhdCI6MTIuOTk4MTczMiwibG9uIjo3Ny41NTMwNDQ1OTk5OTk5OSwicGxhY2VJZCI6IkNoSUp4Zlc0RFBNOXJqc1JLc05URy01cF9RUSIsInBsYWNlTmFtZSI6IlJhamFqaW5hZ2FyIn1d&radius=2.0&city=bangalore&locality=Indiranagar,&locality=Jayanagar,&locality=Rajajinagar'
geturlfromuser(url) 
data.head(100)

<Response [200]>

,House Title,House Location,House EMI,House Price
0,3 BHK Flat For Sale In Total Environment Lif...,"30th Cross Rd, 4th T Block , Jayanagar, Bengal...",₹1.72 Lacs/Month,₹3 Crores
1,4+ BHK In Independent House For Sale In Raja...,"Independent House, 6th Cross Rd, 2nd Block ne...","₹83,679/Month",₹1.46 Crores
2,4+ BHK In Independent House For Sale In Jaya...,"Independent House, 100ft Road, Ashoka Pillar R...",₹2.96 Lacs/Month,₹5.16 Crores
3,3 BHK Flat For Sale In Beverly Apartments In...,Road next to Manyavar showroom,"₹91,703/Month",₹1.6 Crores
4,3 BHK Flat For Sale In Madhavaram Metropolit...,"Sagar Hospitals, 30th Cross Rd, Bannerughatta ...","₹44,705/Month",₹78 Lacs
5,2 BHK Flat For Sale In Maple Apartments In I...,"Maple Apartments, Michael Palaya, 4th B Cross,...","₹37,254/Month",₹65 Lacs
6,4 BHK Flat For Sale In Rrbc Piccassso In Jay...,"Municipal No.152, 18th main road, beside Sai B...",₹3.91 Lacs/Month,₹6.83 Crores
7,3 BHK Flat For Sale In Rrbc Piccassso In Jay...,"Municipal No.152, 18th main road, beside Sai B...",₹1.69 Lacs/Month,₹2.94 Crores
8,3 BHK Apartment For Sale In Adarsh Court Apa...,Adarsh Court Apartment Adarsh Court Apartment...,₹2.01 Lacs/Month,₹3.5 Crores
9,4+ BHK In Independent House For Sale In Raja...,"Independent House, 72 Cross, 12th Main Rd, RPA...",₹1.96 Lacs/Month,₹3.42 Crores
10,1 BHK Flat For Sale In Rajajinagar In Rajaji...,"27th cross 2nd block rajajinagar,Behind Navran...","₹28,657/Month",₹50 Lacs
11,3 BHK Flat For Sale In Mantri Gardens Apartm...,"Mantri Gardens Apartment, Jayanagar 1st Block,...","₹94,568/Month",₹1.65 Crores
12,2 BHK Flat For Sale In Sri Sai Durga Residen...,"Indira Nagar, Bangalore","₹68,777/Month",₹1.2 Crores
13,3 BHK Flat For Sale In Vaishali Residency In...,"Vaishali Residency, HAL 2nd Stage, Indiranagar...","₹65,911/Month",₹1.15 Crores
14,2 BHK Apartment For Sale In Benaka Towers In...,"Benaka Towers 16th D Main Rd, HAL 2nd Stage, ...","₹56,168/Month",₹98 Lacs
15,1 BHK In Independent House For Sale In Rajaj...,"Independent House, Shiv nagar Rajajinagar, Nea...","₹24,072/Month",₹42 Lacs
16,3 BHK Flat For Sale In Livintique Residence ...,100 Feet Rd near Barbeque Nation,₹2.01 Lacs/Month,₹3.5 Crores
17,4 BHK Flat For Sale In Phoenix One Bangalor...,"Dr Rajkumar Rd, opposite Sheraton Hotel, Rajaj...",₹2.72 Lacs/Month,₹4.75 Crores
18,4+ BHK In Independent House For Sale In Bana...,"Independent House, 7th main road banashankri s...",₹3.15 Lacs/Month,₹5.5 Crores
19,2 BHK Apartment For Sale In Team Heritage Ap...,Team Heritage Apartments Team Heritage Apartm...,"₹57,314/Month",₹1 Crore
20,"4+ BHK Flat For Sale In Tilak Nagar, Jayanagar","Standalone Building, backside of L J Iyengar B...","₹45,278/Month",₹79 Lacs
21,3 BHK Flat For Sale In Indiranagar,"Standalone Building, 1st Stage, 5 Main near Ka...","₹80,240/Month",₹1.4 Crores
22,2 BHK Apartment For Sale In Brigade Gateway ...,"Brigade Gateway Dr Rajkumar Road, Rajaji Naga...",₹1.43 Lacs/Month,₹2.5 Crores
23,3 BHK Apartment For Sale In Nishant Enclave ...,"Nishant Enclave 13th H Main Rd, HAL 2nd Stage...",₹1.15 Lacs/Month,₹2.01 Crores
24,"4+ BHK Flat For Sale In 2nd Cross Road, Jaya...","Standalone Building, #21 / 8th main 3rd block",₹3.64 Lacs/Month,₹6.35 Crores

## 9) Write a python program to scrape mentioned details from dineout.co.in :
i) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL

In [109]:
#https://www.dineout.co.in/bangalore
data = pd.DataFrame()

def geturlfromuser(userinput):
    

    page = requests.get(userinput)
    bsoup = BeautifulSoup(page.content, 'html.parser')
    print(page)
    
    Rest_names = bsoup.find_all('div',class_ = 'restnt-info cursor')
    Rest_Cuisine = bsoup.find_all('div',class_ = 'detail-info')
    Rest_ratings = bsoup.find_all('div',class_ = ['restnt-rating rating-4','restnt-rating rating-5'])
    Rest_image_url = bsoup.find_all('img',class_ = 'no-img')
    #print(Rest_image_url)
    #Rest_ratings = bsoup.find_all('div',class_ = 'img-wrap')
    #img cursor
#img-wrap

    Restaurants = []
    Cuisines = []
    Locations = []
    Ratings = []
    URLs = []

    
    for Restaurant in Rest_names:
        Restaurants.append(Restaurant.find('a').text)   
        Locations.append(Restaurant.find('div', class_ = 'restnt-loc ellipsis').text)
        
    #print(Locations)
    data['Restaurant Name'] = Restaurants
    data['Location'] = Locations

        
    for Cuisine in Rest_Cuisine:
        
        Cuisines.append(Cuisine.find('span', class_ = 'double-line-ellipsis').text)
        
        ##restnt-loc ellipsis
    data['Cusines'] =   Cuisines
    #print(Cuisines)       
        # daubt on how to get cuisines seperately................       
        #Cuisine = Cuisine.find('span', class_ = 'double-line-ellipsis')
        #sections =  Cuisine.find_all('a')
        #Cuisine =   Cuisine.find('a').text
        #Cuisine = Cuisine.find_all('a').text       
   #print(Cuisine_s)
   # data['Restaurant Cuisines'] = Cuisines
    
    for rating in Rest_ratings:
        rating = rating.get_text()
        Ratings.append(rating)
        # daubt how to get ratings two types of class present
        #Ratings.append(rating.find('div', class_ = 'restnt-rating rating-4').text)
    #print(Ratings)
    data['Ratings'] = Ratings
    
    for url in Rest_image_url:
        url = url.get('data-src')
        URLs.append(url)

    #print(URLs)
    data['URLs'] = URLs    
    


url = 'https://www.dineout.co.in/bangalore-restaurants/welcome-back'
geturlfromuser(url) 
data.head(10)

<Response [200]>

,Restaurant Name,Location,Cusines,Ratings,URLs
0,Uru Brewpark,"JP Nagar, South Bangalore","₹ 1,400 for 2 (approx) | Multi-Cuisine, North ...",4.4,https://im1.dineout.co.in/images/uploads/resta...
1,The Biere Club,"Vittal Mallya Road, Central Bangalore","₹ 1,700 for 2 (approx) | Continental, Finger F...",4.3,https://im1.dineout.co.in/images/uploads/resta...
2,The Bier Library Brewery & Kitchen,"Koramangala, South Bangalore","₹ 1,800 for 2 (approx) | Continental, Finger F...",4.3,https://im1.dineout.co.in/images/uploads/resta...
3,JW Kitchen,"JW Marriott Hotel,Vittal Mallya Road, Central ...","₹ 2,500 for 2 (approx) | Asian, Continental, M...",4.4,https://im1.dineout.co.in/images/uploads/resta...
4,Badmaash,"UB City,Vittal Mallya Road, Central Bangalore","₹ 2,500 for 2 (approx) | Mughlai, Awadhi, Mode...",4.1,https://im1.dineout.co.in/images/uploads/resta...
5,Toscano,"UB City,Vittal Mallya Road, Central Bangalore","₹ 2,500 for 2 (approx) | Italian, Pizza, Medit...",4.5,https://im1.dineout.co.in/images/uploads/resta...
6,Cafe Noir,"UB City,Vittal Mallya Road, Central Bangalore","₹ 1,800 for 2 (approx) | Continental, French, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
7,Social,"Cobalt Building,Church Street, Central Bangalore","₹ 1,500 for 2 (approx) | Continental, North In...",4.3,https://im1.dineout.co.in/images/uploads/resta...
8,Daddy,"Indiranagar, East Bangalore","₹ 1,800 for 2 (approx) | Asian, North Indian, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
9,Bangalore Brew Works,"Residency Road, Central Bangalore","₹ 2,500 for 2 (approx) | North Indian, Contine...",4.4,https://im1.dineout.co.in/images/uploads/resta...

## 10) Write a python program to scrape first 10 product details which include product name , price , Image URL from
https://www.bewakoof.com/women-tshirts?ga_q=tshirts .

In [40]:

data = pd.DataFrame()

def geturlfromuser(userinput):
    

    page = requests.get(userinput)
    bsoup = BeautifulSoup(page.content, 'html.parser')
    print(page)
    
    Products_scrap = bsoup.find_all('div',class_ = 'productCardBox')
    Products_scrap_url = bsoup.find_all('div',class_ = 'productCardImg false')
    #print(Products_scrap_url)



    Products_name = []
    Products_Price = []
    Products_Url = []


    
    for product in Products_scrap:
        Products_name.append(product.find('h3').text)
        Products_Price.append(product.find('span',class_='discountedPriceText').text)
        
    data['Product Name'] = Products_name
    data['Product Price'] = Products_Price
    
    for images in Products_scrap_url:
        images = images.find('img')
        images = images.get('src')

        Products_Url.append(images)        
    #print(Products_Url)
    data['Product Url'] = Products_Url



url = 'https://www.bewakoof.com/women-tshirts?ga_q=tshirts'
geturlfromuser(url) 
data.head(10)

<Response [200]>

,Product Name,Product Price,Product Url
0,Matriarchy Begin Half Sleeve T-Shirt,₹ 249,https://images.bewakoof.com/t320/matriarchy-be...
1,Dab Marshmello Half Sleeve T-Shirt,₹ 149,https://images.bewakoof.com/t320/dab-marshmell...
2,Mickey 28 Half Sleeves T-Shirt (DL),₹ 199,https://images.bewakoof.com/t320/mickey-28-hal...
3,Chibi Harry Half Sleeve T-Shirt (HPL),₹ 199,https://images.bewakoof.com/t320/chibi-harry-h...
4,Climbing pocket panda Half Sleeve T-Shirt,₹ 249,https://images.bewakoof.com/t320/climbing-pock...
5,Bunny Rabbit Pocket Half Sleeve T-Shirt,₹ 199,https://images.bewakoof.com/t320/bunny-rabbit-...
6,Rare AF Half Sleeve Printed T-Shirt Black,₹ 249,https://images.bewakoof.com/t320/rare-af-half-...
7,Kolkata Biryani Half Sleeve T-Shirt,₹ 199,https://images.bewakoof.com/t320/kolkata-birya...
8,Andhokar Half Sleeve T-Shirt,₹ 199,https://images.bewakoof.com/t320/andhokar-half...
9,Princess Squad Half Sleeve Printed T-Shirt,₹ 199,https://images.bewakoof.com/t320/princess-squa...